body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main {
  height: calc(100% - 3rem);
}
#nav { list-style-type: none; }
#nav li { float: left; }
#nav li:not(:first-child)::before {
  content: "/ ";
  margin-left: 0.35rem;
}
